*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --canvas-size: 550px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.cell {
    background-color: red;
    flex: auto;
}
.outline {
    outline: black solid 1px;
}
.cell:hover {
    background-color: blue;
}
.canvas {
    display: flex;
    flex-flow: row wrap;
    width: var(--canvas-size);
    height: var(--canvas-size);
    box-shadow: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls {
    display: flex;
}
