*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --canvas-size: 550px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
}
h1 {
    font-size: 5em;
    font-family: monospace;
    margin-top: 20px;
    color: navy;
}
.cell {
  flex: auto;
}
.outline {
  outline: black solid 0.5px;
}
.cell:hover {
  background-color: rgba(50, 50, 50, 0.284);
}
.canvas {
  display: flex;
  flex-flow: row wrap;
  width: var(--canvas-size);
  height: var(--canvas-size);
  box-shadow: #707070 0 0 10px;
  background-color: white;
}
.container {
  flex: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
}
.control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 0 30px;
}
.control-item {
  margin-bottom: 12px;
  height: 50px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-item button {
  margin: auto;
  padding: 5px 10px;
}
.control-item input[type="checkbox"] {
  height: 20px;
  width: 20px;
}
